body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Mallanna', Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1em;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}
