h1 {
    background: $brandPrimary;
    font-family: Arial;
    color: $brandPrimary - 100%;
    text-align: center;
    padding: 30px;
    text-shadow: 1px 1px 0 $brandPrimary + 100%;
    border: 2px solid $brandPrimary - 20%;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    width: 50%;
    &:before {
        content: "CSS Before: ";
    }
}
