.main > section {
    position: relative;
    border-bottom: 1px solid $middle;
    border-left: 1px solid $middle;
    border-right: 1px solid $middle;
    background: white;

    &:first-child {
        margin-top: 40px;
        border-radius: $radius $radius 0 0;
        border-top: 1px solid $middle;
    }

    > .content {
        position: relative;
        padding: 10px 20px;
        @media (min-width: $screen-sm-min) { padding: 30px; }
    }
}
